@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    White Rock Pier<br />
    White Rock, BC<br />
    <abbr title="Phone">P:</abbr>
    (604) 541-2100
</address>

